<ng-container [ngSwitch]="typeClassName">
  <div class="svg-container" [ngClass]="letteringClassName">
    <object
      *ngSwitchCase="'bunnya'"
      data="./assets/card/bunnya.svg"
      height="100%"
      (load)="objectLoaded($event)"
    ></object>
    <object
      *ngSwitchCase="'bunnyb'"
      data="./assets/card/bunnyb.svg"
      height="100%"
      (load)="objectLoaded($event)"
    ></object>
    <object
      *ngSwitchCase="'bunnyc'"
      data="./assets/card/bunnyc.svg"
      height="100%"
      (load)="objectLoaded($event)"
    ></object>
    <object
      *ngSwitchCase="'heart'"
      data="./assets/card/heart.svg"
      height="100%"
      (load)="objectLoaded($event)"
    ></object>
    <object
      *ngSwitchCase="'cloud'"
      data="./assets/card/cloud.svg"
      height="100%"
      (load)="objectLoaded($event)"
    ></object>
    <object
      *ngSwitchCase="'oval'"
      data="./assets/card/oval.svg"
      height="100%"
      (load)="objectLoaded($event)"
    ></object>
  </div>
</ng-container>
