<div class="bg-container">
  <h2 [class.font-white]="backgroundCtrl.value === 'black'" class="font-h2">
    Color
  </h2>
  <label>
    <input type="radio" value="white" [formControl]="backgroundCtrl" checked />
    <div class="card-bg-preview-white"></div>
  </label>
  <label>
    <input type="radio" value="orange" [formControl]="backgroundCtrl" />
    <div class="card-bg-preview-orange"></div>
  </label>
  <label>
    <input type="radio" value="black" [formControl]="backgroundCtrl" />
    <div class="card-bg-preview-black"></div>
  </label>
  <label>
    <input type="radio" value="gradient" [formControl]="backgroundCtrl" />
    <div class="card-bg-preview-gradient"></div>
  </label>
</div>

<div class="bg-container">
  <h2 [class.font-white]="backgroundCtrl.value === 'black'" class="font-h2">
    Effect
  </h2>
  <label>
    <input type="radio" value="none" [formControl]="effectCtrl" />
    <div class="card-bg-preview">1</div>
  </label>
  <label>
    <input type="radio" value="snow" [formControl]="effectCtrl" />
    <div class="card-bg-preview">2</div>
  </label>
  <label>
    <input type="radio" value="circles" [formControl]="effectCtrl" />
    <div class="card-bg-preview">3</div>
  </label>
  <label>
    <input type="radio" value="confetti" [formControl]="effectCtrl" />
    <div class="card-bg-preview">4</div>
  </label>
  <!-- @TODO: 효과 하나 더 추가하기 -->
  <label>
    <input type="radio" value="kirakira" [formControl]="effectCtrl" />
    <div class="card-bg-preview">5</div>
  </label>
</div>
