@import "src/styles";

.bg-container {
  display: flex;

  &:nth-child(2) {
    margin-top: 5px;
  }
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + div {
  cursor: pointer;
  text-align: center;
}

/* CHECKED STYLES */
[type="radio"]:checked + div {
  border-radius: 100%;
  box-shadow: 0 0 0 3px $color-white;
  border-color: $color-black;
}

.card-bg-preview {
  height: 40px;
  width: 40px;
  margin: 10px;
  border-radius: 100%;
  border: $color-black solid 1px;
  background-color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-bg-preview-white {
  @extend .card-bg-preview;
  background: $color-white;
}

.card-bg-preview-orange {
  @extend .card-bg-preview;
  background: $color-primary;
}

.card-bg-preview-black {
  @extend .card-bg-preview;
  background: $color-black;
  border-color: $color-white;
}

.card-bg-preview-gradient {
  @extend .card-bg-preview;
  background: linear-gradient(0deg, #1b1b1b 0%, rgba(100, 100, 100, 1) 100%);
  border-color: $color-white;
}

.card-bg-preview-checker {
  @extend .card-bg-preview;
  background-image: url("/assets/card/checkerboard.svg");
  background-repeat: no-repeat;
  background-size: 400% 400%;
  background-position: center center;
  border-color: $color-white;
}

@include mobile {
  .card-bg-preview {
    margin: 5px;
  }
}
