@use "sass:map";

// Breakpoints
$breakpoint-mobile: 335px;
$breakpoint-tablet: 758px;
$breakpoint-desktop: 1024px;

// Colors
$color-primary: #ff5a28;
$color-black: #000000;
$color-white: #ffffff;

// height: 150px 기준
$card-config-width: (
  "bunnya": 70px,
  "cloud": 80px,
  "bunnyb": 70px,
  "heart": 80px,
  "bunnyc": 116px,
  "oval": 80px,
);
