<div class="container">
  <h1 class="font-h1">
    2023,<br />
    Happy
    <strong>Black Bunny</strong> Year!<br />
  </h1>
  <h3 class="font-h3">
    DJ 블랙버니를 통해 전달된 카드의 수 <strong>1,916개</strong><br />
    그동안 DJ 블랙버니를 사랑해주셔서 감사합니다.<br />내년에 더 나은 서비스로
    만나요!
  </h3>
  <p class="instagram-link">
    created by
    <a href="https://www.instagram.com/pot_works/" target="_blank"
      >@pot_works</a
    >
    &
    <a href="https://www.instagram.com/playthings.kr/" target="_blank"
      >@playthings.kr</a
    >
  </p>
</div>
<bg-canvas color="white" effect="snow"></bg-canvas>
