<div class="container">
  <h1 class="font-h1">
    2023,<br />
    Happy
    <strong>Black Bunny</strong> Year!<br />
  </h1>
  <h3 class="font-h3">
    믿거나 말거나!<br />1월 1일에 처음 들은 음악이 한해를 결정한대요.<br />
    DJ 블랙버니의 플레이리스트,<br />소중한 사람에게 선물해보는건 어때요?
  </h3>
  <a [routerLink]="['/editor']">
    <div class="button-default button-editor">신년 카드 만들기</div></a
  >
  <a href="#none" (click)="recommendMusic()">
    <div class="button-default button-recommend">새해띵곡 추천하기</div></a
  >
  <p class="instagram-link">
    created by
    <a href="https://www.instagram.com/pot_works/" target="_blank"
      >@pot_works</a
    >
    &
    <a href="https://www.instagram.com/playthings.kr/" target="_blank"
      >@playthings.kr</a
    >
  </p>
</div>
<bg-canvas color="white" effect="circles"></bg-canvas>
