@import "src/styles";

.container {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
  color: $color-white;
}

h3 {
  margin-top: 20px;
  text-align: center;
  color: $color-white;
}

.button-editor {
  margin-top: 60px;
}

.instagram-link {
  font-size: 13px;
  position: fixed;
  bottom: 20px;
}

.instagram-link,
.instagram-link a {
  color: $color-white;
}
