<div class="container">
  <h1 class="font-h1">
    2023,<br />
    Happy
    <strong>Black Bunny</strong> Year!<br />
  </h1>
  <h3 class="font-h3">
    믿거나 말거나! 새해에 듣는 첫 음악이 그 해를 결정한대요.<br />
    소중한 사람에게 그 음악을 선물해보는건 어때요?<br />DJ 블랙버니가 추천하는
    음악리스트를 확인해보세요!
  </h3>
  <a [routerLink]="['/editor']">
    <div class="button-default button-editor">신년 카드 만들기</div></a
  >
  <p class="instagram-link">
    created by
    <a href="https://www.instagram.com/pot_works/" target="_blank"
      >@pot_works</a
    >
    &
    <a href="https://www.instagram.com/playthings.kr/" target="_blank"
      >@playthings.kr</a
    >
  </p>
</div>
<bg-canvas color="white" effect="circles"></bg-canvas>
