<div class="container">
  <h1 class="font-h1">
    2023,<br />
    Happy
    <strong>Black Bunny</strong> Year!<br />
  </h1>
  <h3 class="font-h3">
    소중한 사람을 위해 신년카드를 만들어 보세요.<br />DJ 블랙버니가 추천하는
    음악도 함께 보낼 수 있어요.
  </h3>
  <a [routerLink]="['/editor']">
    <div class="button-default button-editor">신년 카드 만들기</div></a
  >
  <p class="instagram-link">
    created by
    <a href="https://www.instagram.com/pot_works/" target="_blank"
      >@pot_works</a
    >
    &
    <a href="https://www.instagram.com/playthings.kr/" target="_blank"
      >@playthings.kr</a
    >
  </p>
</div>
<bg-canvas color="white" effect="circles"></bg-canvas>
