<div class="playlist-container open-playlist-action">
  <div class="playlist-wrapper">
    <div class="whitespace"></div>
    <ng-container *ngFor="let music of musics">
      <label>
        <input
          type="radio"
          value="{{ music.id }}"
          [formControl]="ctrl"
          [checked]="music.id === selectedId"
        />
        <div (mouseup)="selectMusic(music)" class="music-item">
          <div
            class="album-image"
            [ngStyle]="{ 'background-image': 'url(' + music.image + ')' }"
          ></div>
          <div class="music-info">
            <p class="music-name">{{ music.name }}</p>
            <p class="music-artist">{{ music.artist }}</p>
            <p
              *ngIf="isMobileView"
              class="music-lyrics"
              [innerHtml]="music.lyrics"
            ></p>
          </div>
          <div
            *ngIf="!isMobileView"
            class="music-lyrics"
            [innerHtml]="music.lyrics | newlineToBr"
          ></div>
          <div class="icon-checked"></div>
          <div (click)="playMusic(music)" class="icon-play"></div>
        </div>
      </label>
    </ng-container>
    <div class="whitespace"></div>
  </div>
</div>

<div *ngIf="playingMusic" class="player-ui">
  <div (click)="onClose()"></div>
</div>
<div id="player" class="playing-motion">
  <app-youtube-player
    *ngIf="playingMusic"
    [musicId]="playingMusic"
  ></app-youtube-player>
</div>
