@import "src/styles";

.open-playlist-action {
  -webkit-animation-name: openAnimation;
  -webkit-animation-duration: 0.8s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: openAnimation;
  animation-duration: 0.8s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes openAnimation {
  from {
    top: 55%;
    opacity: 0;
  }
  to {
    top: 49%;
    opacity: 1;
  }
}

.playlist-container {
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  padding: 0 30px;
  --shadow-color: rgb(255, 90, 40);
  filter: drop-shadow(1px 1px 8px var(--shadow-color));
}

.playlist-wrapper {
  width: 80vw;
  height: 650px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  overflow-y: scroll;

  &::-webkit-scrollbar {
    display: none;
  }

  .whitespace {
    height: 30px;
    flex: 0 0 100%;
  }
}

.music-item {
  position: relative;
  margin: 45px 20px;
  cursor: pointer;
}

.album-image {
  width: 210px;
  height: 210px;
  background-size: 105% 105%;
  background-position: center;
}

.music-info {
  color: $color-black;
  background-color: $color-white;
  position: absolute;
  top: 242px;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  max-width: 100%;
  text-align: center;

  p {
    margin: 0;
    line-height: 1.3;
    text-overflow: ellipsis;
    overflow: hidden;
    min-width: 130px;
    white-space: nowrap;
  }

  .music-name {
    font-size: 16px;
    font-weight: 500;
    display: block;
  }

  .music-artist {
    font-size: 14px;
    margin-top: 2px;
    display: block;
  }
}

.music-lyrics {
  margin: 0;
  padding: 10px;
  line-height: 1.3;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  font-size: 15px;
  font-weight: 500;
  color: $color-white;
}

.music-item:hover {
  .music-lyrics {
    display: flex;
  }

  /* CHECKED STYLES */
  .icon-play {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 10;
  }
}

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.icon-checked {
  background: url("/assets/ui/check.svg") no-repeat center center;
  width: 70px;
  height: 70px;
  display: none;
  background-size: 100%;
}

.icon-play {
  background: url("/assets/ui/play.svg") no-repeat center center;
  width: 70px;
  height: 70px;
  display: none;
  background-size: 100%;
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 10;
}

/* CHECKED STYLES */
[type="radio"]:checked + div {
  box-shadow: 0 0 0 3px $color-primary;

  .album-image {
    filter: grayscale(100%);
  }

  /* CHECKED STYLES */
  .icon-checked {
    display: block;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 10;
  }

  .music-info {
    color: $color-white;
    background-color: $color-black;
  }
}

#player {
  position: fixed;
  width: 200px;
  height: 200px;
  top: 20px;
  right: 20px;
  border-radius: 100%;
  overflow: hidden;
}

.player-ui {
  position: fixed;
  top: 170px;
  right: 20px;
  font-size: 25px;
  cursor: pointer;
  border-radius: 100%;
  overflow: hidden;
  z-index: 10;

  div {
    width: 50px;
    height: 50px;
    background: url("/assets/ui/close.svg") center center no-repeat;
    background-size: 90% 90%;
    background-color: $color-white;
  }
}

.playing-motion {
  -webkit-animation-name: cssAnimation;
  -webkit-animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: forwards;
  animation-name: cssAnimation;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  from {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
  }
  to {
    -webkit-transform: rotate(360deg) scale(1) skew(0deg);
  }
}

@include mobile {
  .playlist-container {
    position: fixed;
    margin-top: 10px;
    padding: 0 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: $color-white;
    border: 1px solid $color-black;
  }

  .playlist-wrapper {
    width: 80vw;
    height: 65vh;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-top: 0px;

    .whitespace {
      height: 20px;
      flex: 0 0 100%;
    }
  }

  .music-item {
    overflow: visible;
    margin: 30px 15px;
    border: none;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    flex-direction: row-reverse;

    .icon-play {
      display: block;
      top: 50px;
      right: -25px;
    }
  }

  .album-image {
    width: 30vw;
    height: 30vw;
    background-size: 105% 105%;
    background-position: center;
  }

  .icon-checked {
    background: url("/assets/ui/check.svg") no-repeat center center;
    width: 70px;
    height: 70px;
    display: none;
    background-size: 100%;
  }

  /* CHECKED STYLES */
  [type="radio"]:checked + div {
    /* CHECKED STYLES */
    .icon-checked {
      z-index: 10;
      bottom: 0;
      right: 0;
    }
  }

  .music-info {
    color: $color-black;
    background-color: transparent;
    position: static;
    transform: none;
    z-index: 2;
    margin-right: 10px;
    text-align: left;
    width: 120px;
    flex: 1;

    p {
      margin: 0;
      line-height: 1.3;
      text-overflow: ellipsis;
      white-space: nowrap;
      min-width: none;
      background-color: transparent;
    }

    .music-name {
      font-size: 16px;
      font-weight: 500;
      display: block;
    }

    .music-artist {
      font-size: 14px;
      margin-top: 2px;
      display: block;
    }
    .music-lyrics {
      position: static;
      background: transparent;
      color: $color-black;
      padding: 10px 0 10px;
      line-height: 1.3;
      display: block;
      font-size: 12px;
      font-weight: 400;
      text-align: left;
      width: 145px;
      white-space: break-spaces;
      overflow-y: visible;
    }
  }

  /* CHECKED STYLES */
  [type="radio"]:checked + div {
    box-shadow: none;

    .album-image {
      filter: none;
      box-shadow: 0 0 0 3px $color-primary;
    }

    /* CHECKED STYLES */
    .icon-checked {
      display: block;
      position: absolute;
      top: 50px;
      right: -25px;
      z-index: 10;
    }

    .music-info {
      background-color: transparent;

      p {
        color: $color-white;
        background-color: $color-black;
      }

      .music-lyrics {
        position: static;
        background: transparent;
        color: $color-black;
      }
    }
  }

  .music-item:hover,
  [type="radio"]:checked + div {
    .music-lyrics {
      display: block;
    }

    .icon-play {
      display: block;
      top: 50px;
      right: -25px;
    }
  }
}

@include tablet {
}

@include desktop {
}
