@import "src/styles";

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

// @TODO: 아이콘 간격 세부 조정하기
/* IMAGE STYLES */
[type="radio"] + div {
  cursor: pointer;
}

.icon-checked {
  background: url("/assets/ui/check.svg") no-repeat center center;
  width: 40px;
  height: 40px;
  display: none;
  background-size: 100%;
}

/* CHECKED STYLES */
[type="radio"]:checked + div > .icon-checked {
  display: block;
  position: absolute;
  top: 35px;
  right: 30px;
}

.card-shape-preview {
  height: 110px;
  width: 100px;
  display: inline-block;
  position: relative;
}

@include mobile {
  .card-shape-preview {
    height: 70px;
    width: 60px;
  }

  /* CHECKED STYLES */
  [type="radio"]:checked + div > .icon-checked {
    top: 20px;
    right: -2px;
  }
}

@include tablet {
}

@include desktop {
}
