@import "src/styles";

/* HIDE RADIO */
[type="radio"] {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

/* IMAGE STYLES */
[type="radio"] + div {
  cursor: pointer;
}

.icon-checked {
  background: url("/assets/ui/check.svg") no-repeat center center;
  width: 40px;
  height: 40px;
  display: none;
  background-size: 100%;
}

/* CHECKED STYLES */
[type="radio"]:checked + div > .icon-checked {
  display: block;
  position: absolute;
  top: 60px;
  right: 18px;
}

.card-shape-preview {
  height: 150px;
  width: 100px;
  // background-repeat: no-repeat;
  // overflow: hidden;
  // background-size: auto 100%;
  display: inline-block;
  position: relative;
}

@include mobile {
  .card-shape-preview {
    height: 100px;
    width: 100px;
  }

  /* CHECKED STYLES */
  [type="radio"]:checked + div > .icon-checked {
    top: 40px;
    right: -6px;
  }
}

@include tablet {
}

@include desktop {
}
