<ng-container *ngIf="color && effect">
  <div class="bg" [ngClass]="color">
    <ng-container [ngSwitch]="effect">
      <ng-container *ngSwitchCase="'circles'">
        <span class="circle-element" *ngFor="let circle of circleCount"></span>
      </ng-container>
      <ng-container *ngSwitchCase="'confetti'">
        <ng-particles
          [id]="id"
          [options]="particlesOptions"
          [particlesInit]="particlesInit"
          (particlesLoaded)="particlesLoaded($event)"
        ></ng-particles>
      </ng-container>
      <ng-container *ngSwitchCase="'snow'">
        <div class="snow-element" *ngFor="let snow of snowCount"></div>
      </ng-container>
      <ng-container *ngSwitchCase="'kirakira'" class="bg-kirakira">
        <div id="stars-group-1"></div>
        <div id="stars-group-2"></div>
        <div id="stars-group-3"></div>
        <div id="stars-group-4"></div>
        <div id="stars-group-5"></div>
        <div id="stars-group-6"></div>
      </ng-container>
    </ng-container>
  </div>
</ng-container>
