<ng-container *ngIf="currentStep$ | async as currentStep">
  <div class="editor-container">
    <div class="title">
      <h3>{{ title[currentStep].kr }}</h3>
      <h1>{{ title[currentStep].en }}</h1>
    </div>
    <img
      *ngIf="form.controls.shape.value"
      class="preview"
      src="../../assets/card_{{ form.controls.shape.value }}.svg"
    />
    <form [formGroup]="form">
      <ng-container [ngSwitch]="currentStep">
        <ng-container *ngSwitchCase="step.Card">
          <app-form-card-shape formControlName="shape"></app-form-card-shape>
        </ng-container>
        <ng-container *ngSwitchCase="step.Background">
          <h1>배경을 골라주세요</h1>
        </ng-container>
        <ng-container *ngSwitchCase="step.Lettering">
          <h1>레터링을 골라주세요</h1>
        </ng-container>
        <ng-container *ngSwitchCase="step.Text">
          <h1>편지를 작성해주세요</h1>
        </ng-container>
        <ng-container *ngSwitchCase="step.Music">
          <h1>음악을 골라주세요</h1>
        </ng-container>
      </ng-container>

      <div class="btn-container">
        <button *ngIf="currentStep === step.Card" (click)="onClickMain()">
          첫 화면으로
        </button>
        <button (click)="onClickPrev()" *ngIf="currentStep !== step.Card">
          이전단계
        </button>
        <button (click)="onClickNext()" *ngIf="currentStep !== step.Music">
          다음단계
        </button>
      </div>
    </form>
  </div>
</ng-container>
