@import "src/styles";

.editor-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.preview-container {
  padding-bottom: 120px;
  min-width: 1000px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50px;

  h3 {
    margin: 0 0 -10px 0;
  }
}

.preview {
  height: 600px;
  background-repeat: no-repeat;
  background-size: auto 100%;
}

.selected-motion {
  -webkit-animation-name: cssAnimation;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: cssAnimation;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
}

@keyframes cssAnimation {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
  }
  50% {
    -webkit-transform: rotate(5deg) scale(1) skew(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
  }
}

/* The flip card container - set the width and height to whatever you want. We have added the border property to demonstrate that the flip itself goes out of the box on hover (remove perspective if you don't want the 3D effect */
.flip-card {
  background-color: transparent;
  height: 600px;
  perspective: 1000px; /* Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg) scale(1.5);
}

.flipped-hover:hover .flip-card-inner {
  transform: rotateY(180deg) scale(1.5);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  position: absolute;
  min-width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  color: black;
}

/* Style the back side */
.flip-card-back {
  color: black;
  height: 600px;
  background-repeat: no-repeat;
  background-size: auto 100%;
  --shadow-color: $color-primary;
  filter: drop-shadow(1px 2px 8px var(--shadow-color));
  transform: rotateY(180deg);
}

.text-editor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  & > * {
    margin-bottom: 10px;
  }

  input,
  textarea {
    background-color: transparent;
    border: none;
    outline: none;
  }

  input {
    border-bottom: 1px solid $color-black;
    width: 100px;
  }

  textarea {
    height: 200px;
    resize: none;
    border: 1px solid $color-black;
  }
}

.flip-card-back {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.editor-controls {
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  bottom: 60px;
  left: 0;
}

@include mobile {
  .title {
    top: 40px;

    h3 {
      margin: 0 0 -5px 0;
    }
  }

  .preview-container {
    padding-bottom: 180px;
    min-width: 100vw;
    position: fixed;
    top: 100px;
  }

  .preview {
    height: 400px;
  }

  .flip-card {
    background-color: transparent;
    height: 400px;
    perspective: 100vw; /* Remove this if you don't want the 3D effect */
  }

  .editor-controls {
    bottom: 60px;
  }
}

@include tablet {
}

@include desktop {
}
