<ng-container *ngIf="currentStep$ | async as currentStep">
  <form [formGroup]="form">
    <div class="editor-container">
      <div class="title" [class.white]="bgColor === 'black'">
        <h3 class="font-h3">{{ title[currentStep].kr }}</h3>
        <h1 class="font-h1">{{ title[currentStep].en }}</h1>
      </div>
      <div
        class="flip-card selected-motion"
        [class.flipped]="currentStep === step.Text"
        [class.flipped-hover]="currentStep === step.Preview"
      >
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              *ngIf="cardShape"
              class="preview"
              src="../../assets/card_{{ cardShape }}.svg"
            />
          </div>
          <div *ngIf="currentStep === step.Text" class="flip-card-back">
            <span>to.</span
            ><input type="text" formControlName="reciever" maxlength="25" />
            <textarea
              type="textbox"
              formControlName="text"
              maxlength="200"
            ></textarea>
            <span>from.</span
            ><input type="text" formControlName="sender" maxlength="25" />
          </div>

          <!-- @TODO: 프리뷰 버전 편지 적용하기 (뒤집힌 카드에) -->
          <div *ngIf="currentStep === step.Preview" class="flip-card-back">
            <span>to.</span
            ><input type="text" formControlName="reciever" maxlength="25" />
            <textarea
              type="textbox"
              formControlName="text"
              maxlength="200"
            ></textarea>
            <span>from.</span
            ><input type="text" formControlName="sender" maxlength="25" />
          </div>
        </div>
      </div>

      <ng-container [ngSwitch]="currentStep">
        <ng-container *ngSwitchCase="step.Card">
          <form-card-shape controlName="shape"></form-card-shape>
        </ng-container>
        <ng-container *ngSwitchCase="step.Lettering">
          <h1>* 레터링 선택 컴포넌트 추가 *</h1>
        </ng-container>
        <ng-container *ngSwitchCase="step.Background">
          <form-card-bg></form-card-bg>
        </ng-container>
        <ng-container *ngSwitchCase="step.Music">
          <form-music-playlist controlName="musicId"></form-music-playlist>
        </ng-container>
        <ng-container *ngSwitchCase="step.Text"> </ng-container>
        <ng-container *ngSwitchCase="step.Preview"> </ng-container>
      </ng-container>

      <div class="btn-container">
        <button class="button-default" (click)="onClickPrev()">
          {{ currentStep === step.Card ? "첫 화면으로" : "이전 단계" }}
        </button>
        <button
          *ngIf="currentStep !== step.Preview; else preview"
          class="button-highlight"
          (click)="onClickNext()"
        >
          {{ currentStep === step.Text ? "완성된 카드 확인" : "다음 단계" }}
        </button>

        <ng-template #preview>
          <button #preview class="button-highlight" (click)="onSave()">
            {{ "저장하고 친구에게 보내기" }}
          </button>
        </ng-template>
      </div>
    </div>
  </form>
</ng-container>
<bg-canvas [color]="bgColor" [effect]="bgEffect"></bg-canvas>
