@import "src/styles";

.popup-container {
  z-index: 1000;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: $color-white;
  border: 1px solid $color-black;
  min-width: 400px;
  min-height: 200px;
  padding: 30px 30px 88px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 16px;

  &.link {
    padding: 40px 30px 180px;

    & .button-wrapper {
      bottom: 40px;
    }
  }
}

.dimmed {
  z-index: 100;
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  background-color: rgba($color: $color-black, $alpha: 0.5);
}

.button-wrapper {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;

  button {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .cancel-button,
  .confirm-button {
    border: 1px solid $color-black;
    background-color: $color-white;
    min-width: 100px;
    padding: 0 20px;
    height: 40px;
    font-weight: 500;
    font-size: 15px;
    color: $color-black;
    border-radius: 16px;
  }

  .cancel-button {
    margin-right: 20px;
  }

  .button-share {
    border: none;
    width: 120px;
    overflow: visible;
    background-color: transparent;
    flex-direction: column;

    span {
      font-weight: 500;
      margin-top: 10px;
      text-align: center;
    }

    div.button-icon {
      width: 80px;
      height: 80px;
      border-radius: 100%;
      background-color: $color-black;
      background-position: center center;
      background-size: 35px 35px;
      background-repeat: no-repeat;

      &.clipboard {
        background-image: url("../../../assets/ico-link.png");
      }

      &.kakaotalk {
        background-image: url("../../../assets/ico-kakao.png");
      }
    }
  }
}
