@import "src/styles";

.title {
  padding: 0 20px 0 15px;
  line-height: 1;
}

.font-h1-kr {
  margin: 0 0 -10px 0;
}

.card-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding-top: 50px;
}

.btn-container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  position: fixed;
  bottom: 7vh;
  width: 90vw;
}

.preview {
  height: 600px;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 50px;

  h3 {
    margin: 0 0 -10px 0;
  }

  &.white {
    color: $color-white;
  }
}

.envelop {
  width: 400px;
  height: 400px;
  background: url("/assets/envelop/envelop-close.svg") no-repeat center center;
  background-size: auto 100%;
  margin-bottom: 100px;
  position: relative;

  p {
    display: none;
    font-weight: 400;
    position: absolute;
    bottom: -40px;
    left: calc(50% - 155px);
  }
}

.envelop:hover {
  -webkit-animation-name: shakeAnimation;
  -webkit-animation-duration: 0.4s;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-fill-mode: forwards;
  animation-name: shakeAnimation;
  animation-duration: 0.4s;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
  animation-fill-mode: forwards;
  cursor: pointer;

  p {
    display: block;
  }
}

@keyframes shakeAnimation {
  0% {
    -webkit-transform: rotate(0deg) scale(1) skew(0deg);
  }
  25% {
    -webkit-transform: rotate(3deg) scale(1.02) skew(0deg);
  }
  50% {
    -webkit-transform: rotate(0deg) scale(1.04) skew(0deg);
  }
  75% {
    -webkit-transform: rotate(3deg) scale(1.06) skew(0deg);
  }
  100% {
    -webkit-transform: rotate(0deg) scale(1.08) skew(0deg);
  }
}

@include mobile {
  .font-h1-kr {
    margin: 0 0 -4px 0;
    font-size: 20px;
  }

  .font-h1 {
    font-size: 25px;
  }

  .envelop {
    width: 100%;
    position: fixed;
    top: 10vh;
  }

  .envelop:hover {
    animation-name: none;
    -webkit-animation-name: none;

    p {
      display: none;
    }
  }
}
