<ng-container *ngIf="card">
  <!-- [workaround] 아직 2022년인 경우 -->
  <ng-container *ngIf="!isNewYear; else year2023">
    <div class="card-container">
      <div class="title font-white">
        <h1 class="font-h1-kr">
          {{ card.sender }}님이 {{ card.receiver }}님께 보내는 새해 편지
        </h1>
        <h1 class="font-h1">
          New year's music & letter <br />from {{ card.sender }} to
          {{ card.receiver }}
        </h1>
        <p
          *ngIf="isPreview"
          style="margin-top: 20px"
          class="font-desc font-white"
        >
          아래 버튼을 눌러 친구에게 공유해주세요!
        </p>
      </div>
      <div class="envelop" (click)="openCard()">
        <p class="font-desc font-white">
          2023년 1월 1일 자정에 확인할 수 있어요!
        </p>
      </div>
      <div class="button-container-right">
        <button (click)="tryAgain()" class="button-default">
          {{ isPreview ? "하나 더 만들기" : "나도 만들기" }}
        </button>
        <button *ngIf="isPreview" (click)="shareCard()" class="button-default">
          편지 보내기
        </button>
      </div>
    </div>
    <bg-canvas color="black" effect="none"></bg-canvas>
  </ng-container>
  <ng-template #year2023>
    <div class="card-container">
      <div class="flip-card selected-motion flipped-hover">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img
              *ngIf="card.shape"
              class="preview"
              src="../../assets/card_{{ card.shape }}.svg"
            />
          </div>
          <!-- @TODO: 프리뷰 버전 편지 적용하기 (뒤집힌 카드에) -->
          <div class="flip-card-back">
            <span>to. {{ card.receiver }}</span>
            <p>{{ card.text }}</p>
            <span>from. {{ card.sender }}</span>
          </div>
        </div>
      </div>
    </div>
    <bg-canvas [color]="card.background" [effect]="card.effect"></bg-canvas>
  </ng-template>
</ng-container>
